# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/
/generated/prisma

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# OS
.DS_Store

# Tests / coverage
coverage/
.nyc_output/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temp
.temp
.tmp

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
